<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h3>Welcome,</h3>
            <h2>Ahmad 'Asim</h2>
        </div>
        <span class="profile-card">
        <img [src]="Picture" alt="image">
        </span>
    </div>

    <mat-divider></mat-divider>
    
    <h2 matSubheader>Main Menu</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink='/'>
        <mat-icon>home</mat-icon>
        Dashboard
    </a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Service</h2>

    
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/orders'>
        <mat-icon>directions_car</mat-icon>
        Booking Transporter
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink='/review'>
        <mat-icon>person</mat-icon>
        Review Transporter
    </a>
    
    <mat-divider></mat-divider>

    <h2 matSubheader>Support</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink='/contact'>
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink='/review'>
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>


