<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" style="background-image: url('assets/images/violet_background.jpg'); 
background-size: cover; height: 100% !important;">
   <mat-card class="box">
     <mat-card-header>
       <mat-card-title>Register</mat-card-title>
     </mat-card-header>
 
     <form class="example-form" (ngSubmit)="register()">
 
       <mat-card-content>
         <mat-form-field class="example-full-width">
           <input matInput type="text" placeholder="Username" name="uname" #username="ngModel" [(ngModel)]="user.userName" required>
         </mat-form-field>
         <br>
 
         <mat-form-field class="example-full-width" >
           <input matInput type="email" placeholder="Email" #email="ngModel" name="email"  [(ngModel)]="user.emailId" required>
         </mat-form-field>
         <br>
 
         <mat-form-field class="example-full-width">
           <input matInput type="password" placeholder="Password"  name="password"  #password ="ngModel" [(ngModel)]="user.password" required>
         </mat-form-field>
         <br>

         <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="Confirm Password" name="cpassword" #cpassword="ngModel" (ngModel)="user.password" required>
          </mat-form-field>
 
 
       </mat-card-content>
 
       <button mat-stroked-button type="submit" color="accent" class="btn-block">Register</button>
       <small (click)="gotologin()">Already have account? login here</small>
 
     </form>
   </mat-card>
 </div>