
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" style="background-image: url('assets/images/violet_background.jpg'); 
background-size: cover; height: 100% !important;">

   <mat-card class="box">
    <div class="logopicture">
      <img [src]="logo"> 
    </div>
     <mat-card-header>
       <mat-card-title>Log in</mat-card-title>
     </mat-card-header>
 
     <form class="example-form" (ngSubmit)="loginUser()">
       <mat-card-content>
         <mat-form-field class="example-full-width">
          <mat-label for="email">Email</mat-label>
           <input matInput type="email" placeholder="Enter Email" name="email" [(ngModel)]="user.emailId" >
         </mat-form-field>
 
         <mat-form-field class="example-full-width">
            <mat-label for="pwd">Password</mat-label>
           <input matInput type="password" placeholder="Enter Password" name="password" [(ngModel)]="user.password">
         </mat-form-field>
         <br>
         <small style="color:red">{{msg}}</small>
       </mat-card-content>
       <div>
        <label><input type="checkbox" name="remember">Remember me</label>
     </div>
     <br>
       <button mat-stroked-button type="submit" color="accent" class="btn-block">Log in</button>
       <small (click)="gotoregistration()">New user? Register here</small>
     </form>
     
   </mat-card>
   
 
 </div>
